* {
  box-sizing: border-box;
 }

body {
  background: tomato;
  height: 100%;
}

.container {
  width: 950px;
  margin: 3em auto;
  align-items: center;
  border-radius: 10px;
  background: red;
  padding: 10px;
  box-shadow: 10px 10px 20px 0 black;
}

.title {
  text-align: center;
}

.form {
  display: flex;
}

.form__label {

}

.client {
  display: flex;
}
